@page
@*@model WebAppLeaflet18_07_2023.Pages.LeafletModel
@{
}*@

<head><title>Leaflet Essentials</title> <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"/>
	 <style>
		#map{
			height: 100vh;
			width: 100%;
		}
	 </style>
</head>
<h1>LeafletMap</h1>
<body>
	 <div id="map"></div>
	<button id="refreshButton"> Refresh Button</button>
</body>
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>

