@page
@model WebAppLeaflet18_07_2023.Pages.Leaflet_ModelModel
@{
	ViewData["Title"] = "Adding Coordinate";
}

@if (Model.hasData)
{
	<p>Hello, @Model.latitude @Model.longitude</p>
	<p>We received your coordinates successfully:</p>
	<p>@Model.city</p>
}

<head>
	<title>Leaflet Essentials</title>
	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
	<style>
		#map {
			height: 100vh;
			width: 100%;
		}
	</style>
</head>

<body>
	<div>
		<h5>LeafletMap Add Coordinate</h5>
		 <div class="container">
			 <form method="POST">
				<label for="flat">Latitude</label><br>
				<input type="text" id="lat"><br>

				<label for="flon">Longitude</label><br>
				<input type="text" id="lon"><br>

				<label for="cityName">City Name</label><br>
				<textarea id="city" name="city" style="height:200px"></textarea><br>

				<input type="submit" value="Submit"><br>
			 </form>

		 </div>
	</div>
	<br>
	<div id="map"></div>
</body>
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
<script>
	var map = L.map('map').setView([41.0260155, 28.8867775], 15);
</script>
<script>
	var osm = L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
		maxZoom: 19,
		attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
	});
	osm.addTo(map);
</script>

<script>
	var circle = L.circle([40.968665, 29.0985458], {
		color: '#006d2c',
		fillColor: '#41ae76',
		fillOpacity: 0.7,
		radius: 50
}).addTo(map);

	var marker = L.marker([40.9687364, 29.0986943]).addTo(map);

	var polygon = L.polygon([
		[41.031194, 28.883596],
		[41.032589, 28.886959],
		[41.030063, 28.890401],
		[41.030716, 28.892161],
		[41.030544, 28.893072],
		[41.028106, 28.894134],
		[41.027305, 28.894286],
		[41.026664, 28.894498],
		[41.025714, 28.894453],
		[41.024066, 28.896653],
		[41.023562, 28.897017],
		[41.021982, 28.897320],
		[41.021227, 28.898367],
		[41.020574, 28.899475],
		[41.019323, 28.899081],
		[41.019023, 28.896898],
		[41.019295, 28.895075],
		[41.018914, 28.893488],
		[41.018758, 28.892306],
		[41.017423, 28.889491],
		[41.017546, 28.886369],
		[41.020699, 28.887383],
		[41.022089, 28.885835],
		[41.027160, 28.883726],
		[41.029504, 28.884263],
		[41.030998, 28.883702],
	], {
		color: '#dd3497',
		fillColor: '#f768a1',
		fillOpacity: 0.3		
	}).addTo(map);

	// zoom the map to the polygon
	map.fitBounds(polygon.getBounds());

	var latlngs = [
		[[37, -109.05], [41, -109.03], [41, -102.05], [37, -102.04]], // outer ring
		[[37.29, -108.58], [40.71, -108.58], [40.71, -102.50], [37.29, -102.50]] // hole
	];
	var polyline = L.polyline(latlngs, { color: 'red' }).addTo(map);

	var latlngs1 = [
		[ // first polygon
			[[37, -109.05], [41, -109.03], [41, -102.05], [37, -102.04]], // outer ring
			[[37.29, -108.58], [40.71, -108.58], [40.71, -102.50], [37.29, -102.50]] // hole
		],
		[ // second polygon
			[[41, -111.03], [45, -111.04], [45, -104.05], [41, -104.05]]
		]
	];

	var polyline = L.polyline(latlngs1, { color: 'pink' }).addTo(map);

	marker.bindPopup("<b>Hello!</b><br> Here is The Ofice &#128512").openPopup();
	circle.bindPopup("Here is the office area.")
	polygon.bindPopup("Davutpasa Yıldız Technical University Campus")

	// Sayfa ilk yüklendiğinde tıklamaya gerek olmadan açık bir pop up geliyor.
	var popup = L.popup()
		.setLatLng([41.0122022, 28.980467])
		.setContent("Hey! I am Topkapı Palace popup!")
		.openOn(map);

	// Adding alert click event
	function onMapClick(e) {
		alert("You clicked the map at " + e.latlng);
	}

	map.on('click', onMapClick);

	// Adding popup click event
	var popup2 = L.popup();

	function onMapClick(e) {
		popup2
			.setLatLng(e.latlng)
			.setContent("You clicked the map at " + e.latlng.toString())
			.openOn(map);
	}

	map.on('click', onMapClick);

	var greenIcon = L.icon({
		iconUrl: 'images/computer-engineer.png',
		iconSize: [95, 95], // size of the icon
		iconAnchor: [22, 94], // point of the icon which will correspond to marker's location
		popupAnchor: [-3, -76] // point from which the popup should open relative to the iconAnchor
	});
	L.marker([40.9690162, 29.0965164], { icon: greenIcon }).addTo(map).bindPopup("Hey! I am coding. Are you coding too? &#128526");
</script>

<script>
	
</script>